<div class="navbar">
<div class="navbar-inner">
<ul class="nav">
<li><a href="/">Home</a></li>
<li class="active"><a href="/{{name}}">{{name}}</a></li>
<li><a href="/edit/{{name}}">Edit</a></li>
</ul>
</div>
</div>

