<div class="navbar navbar-fixed-top">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <a class="navbar-brand" href="/">Potache</a>

  <div class="nav-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/{{name}}">Preview</a></li>
      <li><a href="/edit/{{name}}">Edit</a></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div>