<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {{title}}
    </title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/journal/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="/jquery.json-2.4.min.js"></script>
  </head>
  <body>
    <div class="container">
        {{{yield}}}
    </div>
  </body>
</html>
